.body{
    margin-left: 200px;
}
.all-menu{
    position: absolute;
    background-color: red;
}
#one-meal{
    position: absolute;
    margin-bottom: 100px;
    margin-top: 100px;
}
.meal-img{
    position: relative;
    margin-left: 500px;
}
